@import "tailwindcss";

h1 {
  @apply text-4xl font-bold;
}
h2 {
  @apply text-3xl font-bold;
}
h3 {
  @apply text-2xl font-bold;
}


:root {
  --wise-spend-green: #0F7F49;
  --background: #ffffff;
  --foreground: #171717;
  --header-height: 3rem
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
